<configuration>

    <!-- We only print to the console (stdout) by default using the following format -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logging is set to info by default for our console logger -->
<!--    <root level="debug">-->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>